body {
	font-family: 'Abel', sans-serif;
}

h1 {
	position: absolute;
	font-size: 35px;
	text-align: center;
	top: 12%;
	left: 25%;
	margin: 0;
}

#container {
	position: absolute;
	background-color: #000000b0;
	bottom: 25%;
	top: 25%;
	left: 37%;
	right: 37%;
	border: 2px solid black;
	color: white;
	
}

#headerstrip {
	position: absolute;
	background-color: #FFFFFFBF;
	top: 3%;
	height: 7%;
	width: 100%;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
}

#fleccalogo {
	position: absolute;
	top: 1px;
	max-width: 19%;
	height: auto;
	left: 5%;
}

#inputbox {
	position: absolute;
	left: 10%;
	right: 15%;
	top: 40%;
	height: 10%;
	font-size: 40px;
}

#amount {
	position: absolute;
	background-color: #FFFFFF8F;
	border: 3px solid black;
	height: 100%;
	width: 60%;
	left: 40%;
	font-size: 30px;
}

.confirmbutton {
	position: absolute;
	border: 2px solid black;
	background-color: orange;
	bottom: 10%;
	height: 10%;
	width: 25%;
	border-radius: 10%;
	font-size: 20px;
}

#withdraw {
	right: 15%;
}

#deposit {
	left: 15%;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}