* {
	outline: none;
	font-family: 'Tomorrow', sans-serif;
}

#container {
	display: none;
	position: absolute;
	background: rgba(212, 212, 212, 0.87);
	border: 2px solid black;
	border-radius: 0.5%;
	left: 30%;
	width: 40%;
	bottom: 15%;
	height: 70%;
}

#container > h2 {
	text-align: center;
	font-weight: bold;
	text-decoration: underline;
}

#items {
	position: absolute;
    padding: 0;
    width: 90%;
    left: 5%;
	height: 80%;
	bottom: 10%;
	list-style: none;
	font-size: 16pt;
	font-weight: bold;
	overflow-x: none;
	overflow-y: auto;
	
}

#items > li {
	position: relative;
    margin-bottom: 1%;
    width: 99%;
    font-size: 16pt;
    height: 7.5%;
    border-width: 2px;
    border-style: solid;
	border-color: rgb(30, 30, 30);
	padding-top: 11px;
}

#items > li > #increase {
	position: absolute;
    right: 3%;
    height: 55%;
    width: 5%;
    margin-top: 2px;
    margin-bottom: 2px;
    background: none;
    font-weight: bold;
    outline: none;
    background: rgba(163, 255, 163, 0.9);
}

#items > li > #increase:hover {
	background: rgba(131, 216, 131, 0.9);
}

#items > li > #count {
	position: absolute;
    right: 9%;
    width: 9%;
    font-size: 16pt;
    background: none;
    margin-top: 2px;
    margin-bottom: 2px;
	outline: none;
	text-align: center;

}

#items > li > #decrease {
	position: absolute;
    right: 20%;
    height: 55%;
    width: 5%;
    margin-top: 2px;
    margin-bottom: 2px;
    background: none;
    font-weight: bold;
    outline: none;
    background: rgba(255, 163, 163, 0.9);
}

#items > li > #decrease:hover {
	background: rgba(216, 131, 131, 0.9);
}

#checkout > button {
	font-size: 16pt;
	position: absolute;
	bottom: 5%;
	width: 20%;
}

#price {
	position: absolute;
	right: 5%;
	bottom: 5%;
}

#payCash {
	left: 5%
}

#payCard {
	left: 30%;
}

#clear {
	left: 55%;
}
